{% extends 'base.html.j2' %}

{% block css%}
<link rel="stylesheet" href="{{url_for('static',filename='css/cart.css')}}">


{% endblock %}

{% block tittle %}
{% endblock %}






{% block content %}


 <div class="cart_section">
     <div class="container-fluid">
         <div class="row">
             <div class="col-lg-10 offset-lg-1">
                 <div class="cart_container">
                     <div class="cart_title">Shopping Cart<small>  </small></div>
                     <div class="cart_items">
                         <ul class="cart_list">
                             <li class="cart_item clearfix">
                                 <div class="cart_item_image"><img src="" alt=""></div>
                                 <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                     <div class="cart_item_name cart_info_col">
                                         <div class="cart_item_title">Name</div>
                                         <div class="cart_item_text"></div>
                                     </div>
                                     <div class="cart_item_color cart_info_col">
                                         <div class="cart_item_title">Color</div>
                                         <div class="cart_item_text"><span style="background-color white;"></span></div>
                                     </div>
                                     <div class="cart_item_quantity cart_info_col">
                                         <div class="cart_item_title">Quantity</div>
                                         <div class="cart_item_text"></div>
                                     </div>
                                     <div class="cart_item_price cart_info_col">
                                         <div class="cart_item_title">Price</div>
                                         <div class="cart_item_text"></div>
                                     </div>
                                     <div class="cart_item_total cart_info_col">
                                         <div class="cart_item_title">Total</div>
                                         <div class="cart_item_text"></div>
                                     </div>
                                 </div>
                             </li>
                         </ul>
                     </div>
                     <div class="order_total">
                         <div class="order_total_content text-md-right">
                             <div class="order_total_title">Order Total:</div>
                             <div class="order_total_amount"></div>
                         </div>
                     </div>
                     <div>
                     <a href="{{url_for('main.students')}}" class="btn btn-light">Continue Shopping</a>
                      </div>
                      
                      <div>
                      <span><a href="{{url_for('checkout')}}" class="btn btn-primary">Checkout</a></span>
                      <a href="" class="btn btn-primary">Remove Item</a>
                 </div>
             </div>
         </div>
     </div>
 </div>
{# -----------------------------------------------------#}
<table class="table table-dark">
  <thead>
    ...
  </thead>
  <tbody>
    <tr class="table-active">
      ...
    </tr>
    <tr>
      ...
    </tr>
    <tr>
      <th scope="row"></th>
      <td colspan="2" class="table-active"></td>
      <td></td>
    </tr>
  </tbody>
</table>


{% endblock %}