{% extends 'base.html.j2'%}

{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/checkout.css')}}">
{% endblock %}

{% block content %}
>


<div class="card-group">
  <div class="card">
    
    <div class="card-body">
      <h5 class="card-title">Item</h5>
      <p class="card-text"></p>
      <img src="{{url_for('static', filename='.png')}}">
      
    </div>
  </div>
  <div class="card">
   
    <div class="card-body">
      <h5 class="card-title">Address Info</h5>
        <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Full name</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
    <label for="exampleInputEmail1" class="form-label">Address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <label for="exampleInputEmail1" class="form-label"></label>
    <h5 class="card-title">Card Info</h5>
    <label for="exampleInputEmail1" class="form-label">Card number</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <label for="exampleInputEmail1" class="form-label"></label>
     <label for="exampleInputEmail1" class="form-label">exp</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <label for="exampleInputEmail1" class="form-label"></label>
     <label for="exampleInputEmail1" class="form-label">CVV</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <label for="exampleInputEmail1" class="form-label"></label>
  

    
    
  </div>
  
    </div>
  </div>
  <div class="card">
    
    <div class="card-body">
      <h5 class="card-title">Cart</h5>
      <p class="card-text">Tax</p>
      <p class="card-text">discount</p>
      <p class="card-text">Total</p>
      
      <a href="{{url_for('shop.success')}}" class="btn btn-primary">checkout</a>
      <a href="{{url_for('main.students')}}" class="btn btn-primary">continue shopping</a>
      
    </div>
  </div>
</div>

{% endblock %}