{% extends 'base.html.j2' %}


{% block title %}
  Hello World
{% endblock %}

{% block content %}
  <h1>Hello There. Head to the shop. Under construction</h1>

  <center><img src="static/images/penny.gif" height="300" width="400"></center>
{% endblock %}
