{% extends 'base.html.j2' %}

{% block title %}
  My Market
{% endblock %}

{% block content %}
<h1>Items</h1>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/images/mask.png" class="d-block w-100" alt="..." width="" height="300">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static/images/chucky.jpg" class="d-block w-100" alt="..." width="" height="300">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static/images/claw.jpg" class="d-block w-100" alt="..." width="" height="300">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="static/images/chucky.jpg" class="card-img-top" alt="..." width="500" height="300">
      <div class="card-body">
        <h5 class="card-title">CHilds Play Doll</h5>
        <a href="{{url_for('shop.view')}}" class="card-link">click to view</a>
        <p class="card-text">price: $750.00</p>
        <p class="card-text">cute on the outside, evil on the inside</p>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="static/images/claw.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Freddy's Claw</h5>
        <a href="{{url_for('shop.view')}}" class="card-link">click to view</a>
        <p class="card-text">price: $3000.00</p>
        <p class="card-text">Make your dreams come true with a bit of creativity</p>
        <a href="#" class="btn btn-primary">Add to cart</a>
    
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="static/images/machete.jpg" class="card-img-top" alt="..." width="500" height="300">
      <div class="card-body">
        <h5 class="card-title">Jasons Machete</h5>
        <a href="{{url_for('shop.view')}}" class="card-link">click to view</a>
        <p class="card-text">price: $100.00</p>
        <p class="card-text">Sharp but dealy. You can smell the victims</p>
        <a href="#" class="btn btn-primary">Add to cart</a>
   
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="static/images/mask.png" class="card-img-top" alt="..." width="500" height="300">
      <div class="card-body">
        <h5 class="card-title">Mike Myers Mask</h5>
        <a href="{{url_for('shop.view')}}" class="card-link">click to view</a>
        <p class="card-text">price: $100.00</p>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">Add to cart</a>
    
      </div>
    </div>
  </div>
</div>
  
{% endblock %}